{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "simple-import-sort", "import"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "arrow-body-style": "off",
    "consistent-return": "off",
    "eqeqeq": "off",
    "guard-for-in": "off",
    "import/export": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/no-autofocus": "off",
    "no-alert": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-redeclare": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "operator-assignment": "off",
    "prefer-destructuring": "off",
    "prefer-object-spread": "off",
    "react/button-has-type": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".ts", ".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/no-children-prop": "off",
    "react/no-danger": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/sort-comp": "off",
    "react/sort-prop-types": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "spaced-comment": "off"
  },
  "overrides": [
    {
      "files": ["packages/**/*.ts", "packages/**/*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
